.FormAddPost-form {
  width: 300px;
  margin: 2rem auto;
  border: 1px solid grey;
  padding: 1rem;
}

.FormAddPost-form input {
  width: 200px;
  display: block;
  margin: 1rem auto;
}

.FormAddPost-form button {
  width: 100px;
  display: block;
  margin: 1rem auto;
}
