:root {
  /* fonts */
  --font-main: 'Montserrat', sans-serif;
  --font-second: 'Open Sans', sans-serif;
  --font-color-main: green;

  /* footer background-color */
  --footer-bg: #a14f4f;
  --header-bg: #102136;
}
