.PostList-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
}

.PostList-list li {
  width: 300px;
  border: 1px solid black;
  list-style: none;
  padding: 1rem;
  background-color: burlywood;
  margin: 1rem;
}

.PostList-list button {
  display: block;
  padding: 0.3rem;
  margin: 0.3rem auto;
}
